@charset "UTF-8";
/* CSS Document */

/* color guide start */

Primary: white
Seconary: #00FA9A

/* color guide end */

html {
	background: black;
	background-image: url("content/img/broken-noise.jpg");
}

#wrapper {
	margin: 0em auto;
	padding: 0;
	width: 100%;
	max-width: 960px;
}

.logo img {
	margin: 0 0 0 .6em;
	padding: 0;
	width: 20%;
}

ul {
	width: 100%
	margin: 5% 0 0 0;
	padding: 0;
	float: right;
	border-bottom: 1px solid white;
}

ul a {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: .9em;
	color: white;
	text-decoration: none;
	padding: 2em 0 0 0;
}

li {
	float: left;
	list-style: none;
	margin: 1vw 0 0 2em;
	padding: 0 0 .09em 0;
}

li a:hover {
	border-bottom: 2px solid white;
	outline: none;
}

li a:active {
	border-bottom: 2px solid #00FA9A;
}

h2 {
	font-size: 2em;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: white;
	opacity: .3;
	text-align: center;
	padding: 0;
	width: 100%;
	-webkit-filter: blur(2.5px);
	-moz-filter: blur(2.5px);
	-ms-filter: blur(2.5px);
	-o-filter: blur(2.5px);
	filter: blur(2.5px);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

h2:hover {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

section a img {
	width: 70%;
	margin: 20% 30%;
	float: left;
	opacity: .3;
}

section a img:hover {
	opacity: 1;
	position: relative;
	z-index: 2;
	cursor: none;
}

section a img:active {
	box-shadow: 0 0 5px rgba(0, 0, 5, .7);
	-webkit-transform: scale(3.25);
	-moz-transform: scale(3.25);
	-ms-transform: scale(3.25);
	-o-transform: scale(3.25);
	transform: scale(3.25);

	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

footer {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: .7em;
	color: white;
	text-align: center;
	margin: 5em 0 2em 0;
	padding: 0;
}

/*---Sprites---*/

/*
div a .home {
	display: block;
	float: left;
	margin: 0;
	height: 32px;
	width: 32px;
	background-image: url("content/img/sprite-map/png") no-repeat;
	background-position: 32px 0px;
}
*/


/*------------MEDIA QUERIES-------------*/

/*-------1200px--------*/
@media screen and (max-width:1200px) {
	.logo img {
		width: 20%;
		margin: 0;
	}
}

/*-------1024px--------*/
@media screen and (max-width:1024px) {
	ul {
		width: 100%;
	}

	li {
		margin: 1em 0 0 2em;
		padding: 0;
	}

}

/*-------768px--------*/
@media screen and (max-width:768px) {
	li {
		width: 20%;
		margin: 0 0 0 13%;
	}

	section a img {
		width: 15%;
		margin: 4em 2.25em;
		opacity: 1;
	}

	section a img:hover {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);

	}

	.logo img {
		width: 30%;
		margin: 0 35%;
		padding: 0;
	}

	section div h2 {
		visibility: hidden;
		display: none;
		margin: 0;
		padding: 0;
	}
	
}


/*-------720px--------*/
@media screen and (max-width:720px) {
	li {
		width: 20%;
		margin: 0 0 0 13%;
	}

	section a img {
		width: 100%;
	}

	.logo img {
		width: 50%;
		margin: 0 25%;
	}
	
}

/*-------480px--------*/
@media screen and (max-width:480px) {
	li {
		width: 20%;
		margin: 0 0 0 11%;
	}

	section a img {
		width: 100%;
	}

	.logo img {
		width: 50%;
		margin: 0 25%;
	}
	
}










